{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Accept
{% endblock %}

{% block content %}
<p>
Du entscheidest als erster Konsument.
Aus folgenden Angeboten kannst du auswählen:

</p>
<table>

        {% for p in list %}
            {% if p.accept == "Annahme Angebot 1" %}
                {% for p in list %}
                    {% if p.accept == "Annahme Angebot 2" %}
                        {% for p in list %}
                            {% if p.role == "Producer3" or p.role == "Producer4" %}
                             <tr>
                             <td> {% if p.role == "Producer3" %} Angebot 3:{% endif %}{% if p.role == "Producer4" %} Angebot 4:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>
                            {% endif %}
                        {% endfor %}


                    {% elif p.accept == "Annahme Angebot 3" %}
                        {% for p in list %}
                            {% if p.role == "Producer2" or p.role == "Producer4" %}
                             <tr>
                             <td> {% if p.role == "Producer2" %} Angebot 2:{% endif %}{% if p.role == "Producer4" %} Angebot 4:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>
                            {% endif %}
                        {% endfor %}
                    {% elif p.accept == "Annahme Angebot 4" %}
                        {% for p in list %}
                            {% if p.role == "Producer2" or p.role == "Producer3" %}
                             <tr>
                             <td> {% if p.role == "Producer2" %} Angebot 2:{% endif %}{% if p.role == "Producer3" %} Angebot 3:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>

                        {% endif %}
                        {% endfor %}
                    {% elif p.accept == "Keine Angebotsannahme" %}
                        {% for p in list %}
                            {% if p.role == "Producer2" or p.role == "Producer3" or p.role == "Producer4" %}
                             <tr>
                             <td> {% if p.role == "Producer2" %} Angebot 2:{% endif %}{% if p.role == "Producer3" %} Angebot 3:{% endif %}{% if p.role == "Producer4" %} Angebot 4:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>

                        {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

           {% elif p.accept == "Annahme Angebot 2" %}
                {% for p in list %}
                    {% if p.accept == "Annahme Angebot 3" %}
                        {% for p in list %}
                            {% if p.role == "Producer1" or p.role == "Producer4" %}
                             <tr>
                             <td> {% if p.role == "Producer1" %} Angebot 1:{% endif %}{% if p.role == "Producer4" %} Angebot 4:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>

                        {% endif %}
                        {% endfor %}

                    {% elif p.accept == "Annahme Angebot 4" %}
                        {% for p in list %}
                            {% if p.role == "Producer1" or p.role == "Producer3" %}
                             <tr>
                             <td> {% if p.role == "Producer1" %} Angebot 1:{% endif %}{% if p.role == "Producer3" %} Angebot 3:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>

                        {% endif %}
                        {% endfor %}
                    {% elif p.accept == "Keine Angebotsannahme" %}
                        {% for p in list %}
                            {% if p.role == "Producer1" or p.role == "Producer3" or p.role == "Producer4" %}
                             <tr>
                             <td> {% if p.role == "Producer1" %} Angebot 1:{% endif %}{% if p.role == "Producer3" %} Angebot 3:{% endif %}{% if p.role == "Producer4" %} Angebot 4:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>

                        {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% elif p.accept == "Annahme Angebot 3" %}
                {% for p in list %}
                    {% if p.accept == "Annahme Angebot 4" %}
                        {% for p in list %}
                            {% if p.role == "Producer1" or p.role == "Producer2" %}
                             <tr>
                             <td> {% if p.role == "Producer1" %} Angebot 1:{% endif %}{% if p.role == "Producer2" %} Angebot 2:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>

                        {% endif %}
                        {% endfor %}
                    {% elif p.accept == "Keine Angebotsannahme" %}
                        {% for p in list %}
                            {% if p.role == "Producer1" or p.role == "Producer2" or p.role == "Producer4" %}
                             <tr>
                             <td> {% if p.role == "Producer1" %} Angebot 1:{% endif %}{% if p.role == "Producer2" %} Angebot 2:{% endif %}{% if p.role == "Producer4" %} Angebot 4:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>

                        {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% elif p.accept == "Annahme Angebot 4" %}
                {% for p in list %}
                    {% if p.accept == "Keine Angebotsannahme" %}
                        {% for p in list %}
                            {% if p.role == "Producer1" or p.role == "Producer2" or p.role == "Producer3" %}
                             <tr>
                             <td> {% if p.role == "Producer1" %} Angebot 1:{% endif %}{% if p.role == "Producer2" %} Angebot 2:{% endif %}{% if p.role == "Producer3" %} Angebot 3:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>

                        {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% else %}
                         {% for p in list %}
                            {% if p.role == "Producer1" or p.role == "Producer2" or p.role == "Producer3" or p.role == "Producer4" %}
                             <tr>
                             <td> {% if p.role == "Producer1" %} Angebot 1:{% endif %}{% if p.role == "Producer2" %} Angebot 2:{% endif %}{% if p.role == "Producer3" %} Angebot 3:{% endif %}{% if p.role == "Producer4" %} Angebot 4:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>

                        {% endif %}
                        {% endfor %}
                    {% endif %}
    {% endfor %}

</table>



    {% formfield player.accept label="Nimmst du eines dieser Angebote an?" %}




    {% next_button %}



                            {% for p in list %}
                            {% if p.role == "Producer1" or p.role == "Producer2" or p.role == "Producer3" or p.role == "Producer4" %}
                             <tr>
                             <td> {% if p.role == "Producer1" %} Angebot 1:{% endif %}{% if p.role == "Producer2" %} Angebot 2:{% endif %}{% if p.role == "Producer3" %} Angebot 3:{% endif %}{% if p.role == "Producer4" %} Angebot 4:{% endif %}Preis:   </td>
                             <td>{{ p.offer_price }}   </td>
                             <td> Produkttyp:   </td>
                            {% if p.product_type == True %}
                                <td> Sauberes Produkt</td>
                            {% else %}
                                <td> Dreckiges Produkt</td>
                            {% endif %}
                             </tr>
                             <tr></tr>

                        {% endif %}
                        {% endfor %}

    def accept_choices(self):
        for p in self.group.get_players():
            if p.accept == "Annahme Angebot 1":
                for p in self.group.get_players():
                    if p.accept == "Annahme Angebot 2":
                        return ['Annahme Angebot 3', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 1":
                for p in self.group.get_players():
                    if p.accept== "Annahme Angebot 3":
                        return ['Annahme Angebot 3', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 1":
                for p in self.group.get_players():
                    if p.accept=="Annahme Angebot 4":
                        return ['Annahme Angebot 3', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 1":
                for p in self.group.get_players():
                    if p.accept=="Keine Angebotsannahme":
                        return ['Annahme Angebot 2','Annahme Angebot 3', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 2":
                for p in self.group.get_players():
                    if p.accept=="Annahme Angebot 1":
                        return ['Annahme Angebot 3', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 2":
                for p in self.group.get_players():
                    if p.accept == "Annahme Angebot 3":
                        return ['Annahme Angebot 1', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 2":
                for p in self.group.get_players():
                    if p.accept=="Annahme Angebot 4":
                        return ['Annahme Angebot 1', 'Annahme Angebot 3', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 2":
                for p in self.group.get_players():
                    if p.accept=="Keine Angebotsannahme":
                        return ['Annahme Angebot 1', 'Annahme Angebot 3', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 3":
                for p in self.group.get_players():
                    if p.accept =="Annahme Angebot 1":
                        return ['Annahme Angebot 2', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 3":
                for p in self.group.get_players():
                    if p.accept =="Annahme Angebot 2":
                        return ['Annahme Angebot 1', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 3":
                for p in self.group.get_players():
                    if p.accept == "Annahme Angebot 4":
                        return ['Annahme Angebot 1', 'Annahme Angebot 2', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 3":
                for p in self.group.get_players():
                    if p.accept =="Keine Angebotsannahme":
                        return ['Annahme Angebot 1', 'Annahme Angebot 2', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 4":
                for p in self.group.get_players():
                    if p.accept =="Annahme Angebot 1":
                        return ['Annahme Angebot 2', 'Annahme Angebot 3', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 4":
                for p in self.group.get_players():
                    if p.accept =="Annahme Angebot 2":
                        return ['Annahme Angebot 1', 'Annahme Angebot 3', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 4":
                for p in self.group.get_players():
                    if p.accept == "Annahme Angebot 3":
                        return ['Annahme Angebot 1', 'Annahme Angebot 2', 'Keine Angebotsannahme']
            if p.accept == "Annahme Angebot 4":
                for p in self.group.get_players():
                    if p.accept =="Keine Angebotsannahme":
                        return ['Annahme Angebot 1', 'Annahme Angebot 2', 'Annahme Angebot 3', 'Keine Angebotsannahme']
            if p.accept == "Keine Angebotsannahme" and p.role == "Consumer1":
                for p in self.group.get_players():
                    if p.accept == "Keine Angebotsannahme" and p.role == "Consumer2":
                        return ['Annahme Angebot 1', 'Annahme Angebot 2', 'Annahme Angebot 3', 'Annahme Angebot 4', 'Keine Angebotsannahme']
                    if p.accept == "Keine Angebotsannahme" and p.role == "Consumer3":
                        return ['Annahme Angebot 1', 'Annahme Angebot 2', 'Annahme Angebot 3', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Keine Angebotsannahme" and p.role == "Consumer2":
                for p in self.group.get_players():
                    if p.accept == "Keine Angebotsannahme" and p.role == "Consumer3":
                        return ['Annahme Angebot 1', 'Annahme Angebot 2', 'Annahme Angebot 3', 'Annahme Angebot 4',
                                'Keine Angebotsannahme']
            if p.accept == "Keine Angebotsannahme":
                for p in self.group.get_players():
                    if p.accept == "Annahme Angebot 1":
                        return ['Annahme Angebot 2', 'Annahme Angebot 3', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Keine Angebotsannahme":
                for p in self.group.get_players():
                    if p.accept == "Annahme Angebot 2":
                        return ['Annahme Angebot 1', 'Annahme Angebot 3', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Keine Angebotsannahme":
                for p in self.group.get_players():
                    if p.accept == "Annahme Angebot 3":
                        return ['Annahme Angebot 1', 'Annahme Angebot 2', 'Annahme Angebot 4', 'Keine Angebotsannahme']
            if p.accept == "Keine Angebotsannahme":
                for p in self.group.get_players():
                    if p.accept == "Annahme Angebot 4":
                        return ['Annahme Angebot 1', 'Annahme Angebot 2', 'Annahme Angebot 3', 'Keine Angebotsannahme']
#  if self.group.first_player == 3:
#            return self.player.role() == 'Consumer1'
#        if self.group.second_player == 3:
#            return self.player.role() == 'Consumer2'
#        if self.group.third_player == 3:
#            return self.player.role() == 'Consumer3'
{% endblock %}