{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Vielen Dank für Ihre Teilnahme an diesem Experiment!
{% endblock %}

{% block content %}

    <b> <font size="4"> Sie erhalten gleich Ihre Auszahlung. Bitte warten Sie, bis die Nummer auf Ihrem Bildschirm aufgerufen wird.</font></b>
<br>
<br>
    <b> <font size ="4">Bitte nehmen Sie folgende Dinge mit zum Ausgang:</font></b>
<br>
    <table align="CENTER">
        <tr><td> <font size ="5"></font></td></tr>
        <tr><td></td></tr>
        <tr> <td> <font size = "5">- die Instruktionen </font> </td></tr>
        <tr> <td> <font size = "5">- die Platzkarte </font></td></tr>
        <tr> <td> <font size = "5">- den Stift </font></td></tr>
        <tr> <td> <font size ="5"> - die <b> ausgefüllte und unterschriebene </b> Quittung </font></td></tr>
    </table>
{% endblock %}
